---
import Layout from '../layouts/Layout.astro';
import nosotros from '../img/nosotros.jpg'
---

<Layout title="Nosotros" description="Sobre nosotros, Venta de Guitarras, música, instrumentos musicales, cursos">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>
        <div class="contenido">
            <img src={nosotros} alt="Imagen sobre nosotros">
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis laborum incidunt vero repudiandae! Nobis quidem, nulla atque rem at, in natus, perspiciatis libero deserunt doloribus asperiores cupiditate? Ad, ut.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis laborum incidunt vero repudiandae! Nobis quidem, nulla atque rem at, in natus, perspiciatis libero deserunt doloribus asperiores cupiditate? Ad, ut.</p>
            </div>
        </div>
	</main>
</Layout>

<style>
    .contenido {
    display: grid;
    gap: 4rem;
    }
    @media (min-width: 768px) {
        .contenido {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }
</style>